<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>

    <link rel="stylesheet" href="./cart.css">
    
</head>

<body>
    <div id="mycart">
        <h3>購物車商品</h3>
    </div>

    <!-- 列表 -->
    <div class="col container">
        <div class="col item-header">
            <div class="col commodity">商品</div>
            <div class="product-name">名稱</div>
            <div class="price">單價 </div>
            <div class="count">數量 </div>
            <div class="subtotal">小計 </div>
            <div class="change">變更 </div>
        </div>
        <!-- 1 -->
        <div class="item-container" v-for="(item, index) in itemList" :key="item.id">
            <div class="item-header item-body">
                <div class="item-detail">
                    <img src="./img/earring1.jpeg">
                    <div class="name">FEATHER_玫瑰金黑_穿孔耳環</div>
                </div>

                <div class="price"><span>NT$</span>580</div>
                <div class="count">
                    <button>-</button>
                    1
                    <button>+</button>
                </div>

                <div class="amount">580</div>
                <div class="operate">
                    <h4>移到追蹤清單</h4>
                    <button id="delete">刪除</button>
                </div>
            </div>
        </div>

        <!-- 2 -->
        <div class="item-container" v-for="(item, index) in itemList" :key="item.id">
            <div class="item-header item-body">
                <div class="item-detail">
                    <img src="./img/earring2.jpeg">
                    <div class="name">WING_銀亮金白_穿孔耳環</div>
                </div>

                <div class="price"><span>NT$</span>680</div>
                <div class="count">
                    <button>-</button>
                    1
                    <button>+</button>
                </div>

                <div class="amount">680</div>
                <div class="operate">
                    <h4>移到追蹤清單</h4>
                    <button id="delete">刪除</button>
                </div>
            </div>
        </div>

        <!-- 3 -->
        <div class="item-container" v-for="(item, index) in itemList" :key="item.id">
            <div class="item-header item-body">
                <div class="item-detail">
                    <img src="./img/earring4.jpeg">
                    <div class="name">GEM_寶石綠_穿孔耳環</div>
                </div>

                <div class="price"><span>NT$</span>780</div>
                <div class="count">
                    <button>-</button>
                    1
                    <button>+</button>
                </div>

                <div class="amount">780</div>
                <div class="operate">
                    <h4>移到追蹤清單</h4>
                    <button id="delete">刪除</button>
                </div>
            </div>
        </div>

        <!-- 總計 -->
        <div class="total">
            <div class="tatalline">總計3項商品，總計金額</div>
            <p> (未含物流處理費) </p>
            <div class="sum aright">
                <div class="sum-price">2040</div>
                <div class="yuan">元</div>
            </div>
        </div>
        


    </div>

</body>
<script src="script.js"></script>

</html>